<h1 class="header">Basket</h1>

<app-basket-container></app-basket-container>

<div class="interface">

  <input
    (change)="changeStatus($event)"
    [checked]='status$ | async'
    type="checkbox"
    id="check-all"
  >
  <label for="check-all">Select all</label>

  <button
    (click)="restoreTasks()"
    type="button"
    class="interface__restore-button"
  >
    <i class="fi fi-br-rotate-left"></i>
  </button>

  <button
    (click)="removeTasks()"
    type="button"
    class="interface__clean-button"
  >
    <i class="fi fi-br-trash"></i>
  </button>

</div>

<button
  (click)="goBack()"
  type="button"
  class="basket-button"
>
  <i class="fi fi-br-cross"></i>
</button>
