@import 'src/theme';

:host{
  min-height: $size;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: $size;
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 5px;
  word-break: break-all;
}

.error {
  border-color: $error-color;
  color: $error-color
}

.success {
  border-color: $success-color;
  color: $success-color;
}

