@import 'src/theme';

* {
  font-family: Josefin Sans, sans-serif;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                              supported by Chrome and Opera */
  -webkit-tap-highlight-color: transparent;

  display: flex;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 577px;
  margin: 0 auto;
  padding: 8px;
  flex-grow: 1;
  overflow-y: auto;
}

.header {
  font-size: 2.5rem;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  align-self: center;
}

.attributes {
  align-self: center;
  font-size-adjust: 0.3;
  color: $sub-font-color;

  a {
    color: $sub-font-color;
  }
}

input[type=checkbox] {
  min-height: 1rem;
  min-width: 1rem;
  padding: calc($size / 2 - 0.5rem);
  margin: calc($size / 2 - 0.5rem);
}

label {
  cursor: pointer;
}
