@import "src/theme";

:host {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: $size;
  margin: 10px 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-image: linear-gradient(
      to right,
      $primary-color 30%,
      $sub-color
    )
    1;
}

.task-input__input {
  height: calc($size - 10px);
  flex-grow: 1;
  border: none;
  font-size: 1rem;

  &:focus {
    outline: none;
  }
}

.task-input__button {
  @extend %button-style;
  height: calc($size - 10px);
  width: calc($size - 10px);
  background-color: $accent-color;
  color: $primary-color;
  border-radius: 5px;
}
